# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
client/.env
server/.env

# Logs
*.log

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db